<input [id]="data.id ? data.id : ''"
    [ngStyle]="parsedStyles"
    [ngClass]="[data.styleClass ? data.styleClass : '', 'position_test test_class2']"
    [width]="data.size?.width ? data.size.width : ''" 
    [height]="data.size?.height ? data.size.height : ''"
    [type]="inputType" 
    [size]="data.inputSize ? data.inputSize : 1"
    [maxlength]="data.maxInputLength ? data.maxInputLength : null"
    [placeholder]="" 
    [disabled]="data.disabled" 
    [(ngModel)]="data.value" 
    (ngModelChange)="onValueChange($event)" 
    (focus)="data.onfocus ? handleOnFocus() : null"
    (blur)="data.onblur ? handleOnBlur() : null" 
    (keyup)="data.onkeyup ? handleOnKeyUp() : null" />